<!DOCTYPE html>
<html>
<head><title><%= user.name %></title></head>
<body>
  <h1><%= user.name %></h1>
  <p><strong>Email:</strong> <%= user.email %></p>
  <p><strong>Age:</strong> <%= user.age %></p>
  <p><strong>Country:</strong> <%= user.country %></p>
  
  <a href="/users">⬅ Back to Directory</a>
</body>
</html>